@tailwind base;
@tailwind components;
@tailwind utilities;

.oval {
  width: 160px;
  height: 80px;
  background: #29cda7;
  border-radius: 50%;
}

button {
  @apply font-roboto;
}

button:active {
  @apply outline-none;
}
p {
  @apply text-black;
}
h1,
h2,
h3
  {
  @apply font-isidorasans ;
}
.elementor-widget-container{
  @apply font-isidorasans_regular leading-6;

}
h4 > p{
  @apply   font-bold  font-isidorasans leading-8
}
.elementor-heading-title .elementor-size-default{
  @apply font-isidorasans_regular leading-6;

}
 
h4> h1 {
  @apply font-isidorasans_regular leading-6;

}

p,form {
  @apply font-isidorasans_regular leading-6 text-black;
}

/* .project  p,h1,h2,h3,h4{
  @apply font-roboto  ;
 
} */